@using System.Text.Json
@model System.Collections.IEnumerable
@{
    ViewData["Title"] = "title";
}

<h2>@ViewBag.Repo</h2>
<div id="container" style="width: 100%; height: 800px"></div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5.1.1/dist/echarts.min.js"></script>
<script type="text/javascript">
    var myChart = echarts.init(
        document.getElementById('container'), null,
        { renderer: 'svg' }
    );
    var option = {
        legend: @Html.Raw(JsonSerializer.Serialize(ViewBag.Legend)),
        xAxis: {
            type: "time",
        },
        yAxis: {
            axisLabel: {
                formatter: function (value, index) {
                    let seconds = value / 1000
                    let minutes = seconds / 60;
                    let hours = minutes / 60;
                    hours = Math.floor(hours);
                    minutes = Math.floor(minutes - hours * 60);
                    seconds = Math.floor(seconds - hours * 3600 - minutes * 60);
                    let result = "";
                    if (hours > 0)
                        result += hours + "h";
                    if (minutes > 0)
                        result += minutes + "m";
                    if (seconds > 0)
                        result += seconds + "s";
                    return result;
                }
            }
        },
        series: @Html.Raw(JsonSerializer.Serialize(Model)),
        // toolbox: {
        //     feature: {
        //         saveAsImage: {
        //             type: 'svg',
        //         }
        //     }
        // }
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);

    myChart.on('click', function (params) {
        window.open(params.data[3], "_blank");
    });
</script>
@if (!string.IsNullOrEmpty(ViewBag.LastYamlUrl as string))
{
    <p>Last Yaml: <a href="@ViewBag.LastYamlUrl">here</a>.  (@ViewBag.MaxBranchProportion)</p>
}
<p>MMRE (if available): @Html.Raw(ViewBag.mmre)</p>
<p>R square (if available): @ViewBag.rSquare</p>
<p>RMSE (if available): @Html.Raw(ViewBag.rmse)</p>
